.input__date:after{
  content:'';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #ced4da;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translate(0px, -50%);
  z-index: 3;
  cursor: pointer;
  pointer-events: none;
}
.input__date input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
.input__date:before{
  content:'';
  background: #FFF;
  height: 100%;
  width: 50px;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 2;
  pointer-events: none;
}
.input__date{
  position: relative;
  border: 1px solid #ced4da;
}
.input__date input{background-clip: padding-box;border: 1px solid #FFF;font-size: .875rem;font-weight: 400;color: #6c757d;z-index: 1;position: relative;width: 100%;height: 100%;padding: 0.45rem 0.89rem;appearance: none;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
.ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  height: 200px;
  color: #181818;
}

.dropify-wrapper .dropify-message span p {
  font-size: 16px !important;
}

.btn-icon {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 22px;
  color: #98a6ad;
}
.btn-icon.mdi:hover,
i.mdi:hover{
color: #473e9b;
text-decoration: none;
} 
.btn-icon:hover {
  color: #fff;
  text-decoration: none;
}

.jq-icon-success {
  background-color: #5ba035;
  border-color: #5ba035;
}

.jq-icon-error {
  background-color: #bf441d;
  color: #dfdfdf;
  border-color: #bf441d;
}

.jq-icon-info {
  background-color: #3b98b5;
  border-color: #3b98b5;
}

.sortable-placeholder {
  height: 61px;
}

.rightbar-overlay,
.modal {
  background-color: rgb(0 0 0 / 42%) !important;
}

.avatar-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.area-input-image-crop {
  width: 100%;
  height: 200px;
  display: flex;
  border: 2px dashed rgb(129 129 129 / 50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.area-input-image-crop .inputImage {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.area-input-image-crop .content-area-image-crop {
  width: 80%;
  display: block;
  text-align: center;
}

.area-input-image-crop .content-area-image-crop i {
  font-size: 35px;
}

.area-input-image-crop .dropify-clear,
.area-input-image-crop .button-crop {
  background-color: transparent;
  border: 1px solid rgb(204 204 204 / 51%);
  color: #ccc;
  padding: 5px 20px;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
}

.area-input-image-crop .dropify-clear:hover {
  background-color: #ccc;
  color: #000;
}

.area-input-image-crop .preview-image {
  width: 90%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-crop-image .img-container img {
  width: 100%;
}

.modal-crop-image .modal-dialog {
  max-width: 650px;
}

.container-image-crop>.crop-img-preview {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.container-image-crop .crop-img-preview {
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.modal-crop-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(90 90 90 / 62%);
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.5s;
}

.modal-crop-image.show {
  opacity: 1;
  visibility: visible;
  transition: all ease 0.5s;
}

.modal-crop-image .modal-content {
  max-width: 650px;
}

#ModelsFormSelect input:checked+label {
  border: 2px solid #6658dd;
}

.viewModelForm {
  position: absolute;
  right: -13px;
  top: -17px;
  background-color: #808183;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  line-height: 29px;
  text-align: center;
  color: #fff;
}

.viewModelForm:hover {
  background-color: #6658dd;
}

.select2-selection__choice{
  color: rgba(0, 0, 0, 0.8)!important;
}

/*Estilo paginate*/
nav[aria-label="Pagination Navigation"]{
  display: flex;
  flex-direction: column;
}
.hidden div path, .hidden div svg{
width: 15px;
}
nav .flex.justify-between{
display: none;
}
.hidden div .hidden span, .hidden p{
display: none;
}
.hidden div a:hover{
background: #1da187 !important;
color: #FFF !important;
}
.hidden div a {
background: #f4f4f4 !important;
margin: 0 5px !important;
padding: 5px 5px 5px 8px !important;
font-family: "Ubuntu", sans-serif;
font-size: 0.87rem !important;
color: #262626 !important;
}
.hidden div span span[aria-current="page"], 
.hidden div span span[aria-current="page"] span{
background: #1da187 !important;
margin: 0 5px !important;
padding: 5px 5px 5px 8px !important;
font-family: "Ubuntu", sans-serif;
font-size: 0.87rem !important;
color: #FFF !important;
}
.hidden div span span[aria-current="page"] span{
padding: 0 !important;
border: inherit !important;
}
.hidden div span span[aria-disabled="true"] span{background: transparent !important;margin: 0 5px !important;padding: 5px 5px 5px 8px !important;font-family: "Ubuntu", sans-serif !important;font-size: 0.87rem !important;color: #262626 !important;}
.hidden div{
  position: relative !important;
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  margin-top: 20px !important;
  align-items: center !important;
  justify-content: end !important;
}

/*CSS PAINEL*/

element.style {
}
body[data-sidebar-size=condensed] .left-side-menu #sidebar-menu>ul>li:hover>.collapse>ul{
  
overflow: hidden;
}
#sidebar-menu .current.menuitem-active,
#sidebar-menu .off-current:hover{background: #f4f4f4;border-radius: 25px 0 0 25px;position: relative;border: 2px solid #FFF;}
#sidebar-menu .current.menuitem-active a.active,
.nav-second-level li a, #sidebar-menu .off-current:hover a{
  color: #262626;
}
.off-current{
  position:relative;
  display: block;
  border: 2px solid #FFF;
}
#sidebar-menu .menuitem-active>a,
#sidebar-menu .menuitem-active .active,
#sidebar-menu>ul>li>a, #sidebar-menu>ul>li:hover>a{color: #262626;}
.navbar-custom{
background: #1da187;
}
#sidebar-menu .current.menuitem-active:after,
#sidebar-menu .off-current:hover:after{content: '';width: 35px;height: 34px;border-radius: 50%;box-shadow: 15px 15px 0 0 #f4f4f4;position: absolute;right: 0px;z-index: 1;bottom: -34px;transform: rotate(-817deg);transition: all ease 0.5s;}
#sidebar-menu .current.menuitem-active:before,
#sidebar-menu .off-current:hover:before{
content: '';
width: 35px;
height: 34px;
border-radius: 50%;
box-shadow: 15px 15px 0 0 #f4f4f4;
position: absolute;
right: 0px;
top: -34px;
transition: all ease 0.5s;
}
.content-page{background: #f4f4f4;}
.left-side-menu{
box-shadow: inherit;
}
.logo span.logo-lg img{
width: auto;
height: 53px;
}
.logo span.logo-lg{
box-shadow: 0 2px 6px -2px rgba(0,0,0,.16), 0 2px 6px 0 rgba(0,0,0,.12);
display: flex;
justify-content: center;
align-items: center;
height: 70px;
}
.logo span.logo-lg h2{
font-size: 21px;
text-align: left;
}
.logo span.logo-lg h2 span{
display: block;
font-size: 12px;
}
.page-title-box .page-title{color: #262626;}
.swal2-modal .swal2-confirm{
  background: #1da187!important;
}
.forbidden .logo span.logo-lg{
  box-shadow: inherit;
  height: auto;
  width: 120px;
  margin: 0 auto;
}
.forbidden .logo span.logo-lg img{
  width: 100%;
  height: auto;
}
.forbidden{
  height: 100%;
  margin-top: 130px !important;
}
.forbidden .container .row{
  
margin-left: 118px;
}
.forbidden .text-error{
  color: #e6761e;
}
.logo span.authl.logo-lg{box-shadow: inherit;}
.logo span.authl.logo-lg img{height: 80px;margin-left: -15px;}
.logo span.authl.logo-lg h2{

font-size: 28px;
}
.logo span.authl.logo-lg h2 span{
  font-size: 15px;
}
.btn-logar .btn-primary:hover{
  background: #1aa084;
}
.btn-logar .btn-primary{
  background:#1ead8e;
  border-color: #1ead8e;
}
.login.auth-fluid {
  
background: inherit;
}
.auth-fluid-right{

background-position: center;

background-repeat: no-repeat;

background-size: auto;

background-color: #1e1e1e !important;
}

.contador-sessao span{
  
color: rgba(255,255,255,.6);
}
.data-search{

width: 20%;
}
.data-search input{width: 100%;box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);color: #6c757d;background-color: #fff;height: 38px;border-radius: 0.25rem;border: 1px solid #ced4da;padding: 0 10px;}
