:root {
    --roboto-font-family: "Roboto", sans-serif;
    --success: #28a745;
    --header: #666666;
    --white: #FFF;
    --depoimento:#33333342;
    --grey: #F3F3F3;
    --grey-secundary: #333333;
    --text-shadow: #0000004d;
    --pantone-309-c: #003B49;
    --pantone-3145-c: #00778B;
    --pantone-7466-c: #00B0B9;
    --laranja: #F18318;
    --verde: #41A935;
    --azul: #005CA9;
    --ciano: #82D0F5;
    --gradient: rgba(0, 176, 185, 1);
}

@font-face {
    font-family: var(--roboto-font-family);
    font-style: normal;
    font-display: block;
    src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype"),
         url("../fonts/roboto/Roboto-Light.ttf") format("truetype"),
         url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"),
         url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"),
         url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

.roboto {
    font-family: var(--roboto-font-family);
}
.thin {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}

@mixin transition-ease($duration: 0.3s, $timing-function: ease) {
    -webkit-transition: all $duration $timing-function;
    -moz-transition: all $duration $timing-function;
    -ms-transition: all $duration $timing-function;
    -o-transition: all $duration $timing-function;
    transition: all $duration $timing-function;
}
@mixin transition-medium($duration: 0.6s, $timing-function: ease) {
    -webkit-transition: all $duration $timing-function;
    -moz-transition: all $duration $timing-function;
    -ms-transition: all $duration $timing-function;
    -o-transition: all $duration $timing-function;
    transition: all $duration $timing-function;
}

@mixin transition-slow($duration: 0.9s, $timing-function: ease) {
    -webkit-transition: all $duration $timing-function;
    -moz-transition: all $duration $timing-function;
    -ms-transition: all $duration $timing-function;
    -o-transition: all $duration $timing-function;
    transition: all $duration $timing-function;
}

html {
    font-size: 16px;
}

a,
button {
    cursor: pointer;    
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a.link-full{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
::marker {
    display: none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

//css init site
.slide{
    height: calc(100vh - 53px);
    margin-top: 122px;
    position: relative;
    overflow: hidden;
    .splide__slide{
        &::after{
            content: '';
            background-image: url('../images/gradiente.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 0;
        }
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .splide__description{
            align-items: center;
            display: flex;
            height: auto;
            justify-content: flex-start;
            left: 50%;
            max-width: 1100px;
            position: absolute;
            bottom: 50%;
            transform: translate(-50%, 0);
            width: 100%;
            z-index: 3;
            .splide__title{
                color: var(--white);
                font-size: 4rem;
                font-weight: 700;
                font-family: var(--roboto-font-family);
                line-height: 4.438rem;
                text-align: left;
                width: calc(100% - 475px);
                word-break: break-all;
                white-space: pre-line;
            }   
        }
    }
    .splide__pagination{
        bottom: 6rem;
    }
    .splide__pagination__page{
        height: 10px;
        width: 10px;
    }
}
.splide__list{
    position: relative;
}
.slide-fitula-1, .slide-fitula-2, .slide-fitula-3 {
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out, bottom 0.5s ease-in-out;
}
.slide-fitula-1{
    height: 194px !important;
    width: 194px !important;
    position: absolute;
    top: 90px;
    left: 140px;
    z-index: 2;
}
.slide-fitula-2{
    height: auto !important;
    width: 146px !important;
    position: absolute;
    top: -121px;
    left: calc(50% - 320px);
    z-index: 2;
}
.slide-fitula-3{
    height: 133px !important;
    width: 133px !important;
    position: absolute;
    bottom: 205px;
    left: calc(50% - 170px);
    z-index: 2;  
}
.rolagem__top{
    border: 4px solid var(--pantone-7466-c);
    background-color: transparent;
    border-radius: 100%;
    display: none;
    height: 58px;
    position: fixed;
    right: 51px;
    top: calc(100% - 100px);
    width: 58px;
    z-index: 999;
    &.ft{
        border-color: var(--white);

        img{
            filter: brightness(10) saturate(0.1) contrast(10);
        }
    }
    a{
        align-items: center;
        background-color: transparent;
        display: flex;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
        @include transition-ease;
        .top-1,
        .top-2{
            @include transition-ease;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .top-2{
            top: 69px;
            @include transition-ease;
        }
        &:hover{
            .top-1{
                top: -10px;
                @include transition-ease;
            }
            .top-2{
                top: 50%;
                @include transition-ease;
            } 
        }
    }
}

.header{
    @include transition-ease;
    background-color: var(--white);
    display: flex;
    height: 122px;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.header__content{
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 1100px;
    width: 100%;
}
.hearder__position{
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 22px;
    justify-content: center;
    margin-top: -10px;
    width: 100%;
}
.header__image{
    img{
        max-width: 170px;
        width: 100%; 
    }
}
.header__nav{
    .header__list{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0 22px;
    }
    .header__item a{
        @include transition-slow;
        border-bottom: 6px solid transparent;
        color:  var(--header);
        font-size: 15px;
        font-family: var(--roboto-font-family);
        font-weight: 500;
        padding-bottom: 8px;
        text-decoration: none;
        &:hover{
            @include transition-slow;
            border-color: var(--laranja);
            color: var(--pantone-7466-c);
            text-shadow: 0px 4px 3px var(--text-shadow);
        }
        &.active{
            border-color: var(--laranja);
            color: var(--pantone-7466-c);
            text-shadow: 0px 4px 3px var(--text-shadow);
        }
    }
}
.telenordeste,
.teleinterconsulta,
.hospital{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}
.telenordeste__content,
.teleinterconsulta__content,
.hospital__content{
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: -58px;
    padding: 59px;
    z-index: 1;

    article{
        width: 47%;            
        p{
            color: var(--grey-secundary);
            font-size: 1.063rem;
            font-family: var(--roboto-font-family);
            font-weight: 400;
            line-height: 1.625rem;
            & b{
                color: var(--pantone-7466-c);
                font-weight: 500;
            }
        }
    }
    .telenordeste__title,
    .telenordeste__event__title,
    .teleinterconsulta__title{
        align-items: center;
        color: var(--pantone-3145-c);
        display: flex;
        font-family: var(--roboto-font-family);
        font-size: 2.5rem;
        font-weight: 500;
        justify-content: flex-start;
        margin-bottom: 1.563rem;                
        &::before{
            background-color: var(--laranja);
            border-radius: 0.313rem;
            content:'';
            height: 3.188rem;
            margin-right: 0.8rem;
            width: 0.5rem;
        }
    }
    .telenordeste__event__title{
        font-size: 1.75rem;
        &::before{
            background-color: var(--laranja);
            border-radius: 0.188rem;
            content:'';
            height: 2.125rem;
            margin-right: 0.8rem;
            width: 0.313rem;
        }     
    }
    aside{
        background-color: var(--grey);
        border-radius: 10px;
        padding: 2.063rem 1.875rem;
        padding-bottom: 3.938rem;
        position: relative;
        width: 30%;
    } 
    .telenordeste__content__event,
    .telenordeste__content__event__list{
        align-items: center;            
        border-radius: .625rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem 0;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        width: 100%;
        .telenordeste__content__event__date{
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 0 1.875rem;
            width: 4.25rem; 
            .telenordeste__content__event__day,
            .telenordeste__content__event__month{
                @include transition-ease;
                align-items: center;
                background-color: var(--pantone-7466-c);
                color: var(--white);
                display: flex;
                font-family: var(--roboto-font-family);
                font-size: 1.5rem;
                font-weight: 700;
                height: 35px;
                justify-content: center;
                text-align: center;
                width: 100%;
            }
            .telenordeste__content__event__day{
                margin-bottom: 0.125rem;
            }
        }
        p{
            @include transition-ease;
            color: var(--pantone-3145-c);
            font-size: 1.063rem;
            font-family: var(--roboto-font-family);
            font-weight: 700;
            line-height: 1.625rem;
            width: calc(100% - 5rem);
        }
    }    
    .telenordeste__content__event__list{
        background-color: var(--white);
        &:hover{
            .telenordeste__content__event__day,
            .telenordeste__content__event__month{
                @include transition-ease;
                background-color: var(--laranja);
            }
            p{
                @include transition-ease;
                color: var(--laranja);
            }
        }
    }   
}
.telenordeste__btn,
.teleinterconsulta__btn{
    align-items: center;
    background-color: var(--verde);
    border-radius: 1.875rem;
    display: flex;
    justify-content: center;
    height: 3.75rem;
    margin-top: 1.875rem;
    max-width: 14rem;  
    overflow: hidden;  
    position: relative;
    width: 100%;
    z-index: 0;
    &.agenda,
    &.consulta{
        background-color: var(--pantone-7466-c);
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 28px);
        max-width: 16rem;
        width: 100%;
    }
    a{
        @include transition-ease;
        align-items: center;
        color: var(--white);
        display: flex;
        font-size: 1rem;
        font-family: var(--roboto-font-family);
        font-weight: 500;
        gap: 0 0.938rem;
        height: 100%;
        justify-content: center;
        padding: 0 1.25rem;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 0;
        &::before{
            @include transition-ease;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 32%;
            height: 55px;
            background-color: var(--laranja);
            border-radius: 50px 50px 0 0;
            transform: translate(-50%, -20%);
            opacity: 0;
        }
        &:hover::before{
            border-radius: 1.875rem;
            height: 3.8rem;
            opacity: 1;
            top: 12px;
            width: 100%;
            z-index: -1;
        }
    }
}

.location{
    align-items: flex-end;
    background-color: var(--grey);
    display: flex;
    height: 592px;
    justify-content: center;
    margin-top: -3.625rem;
    padding-bottom: 100px;
    width: 100%;
}
.location__content{
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: center;
    max-width: 1200px;
    position: relative;
    width: 100%;
    &::before{
        content: '';
        background-image: url('../images/firula-left.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 53px;
        position: absolute;
        right: calc(100% - 100px);
        top: calc(100% - 141px);
        width: 54px;
    }
    &::after{
        content: "";
        background-image: url('../images/firula-right.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        bottom: calc(100% - 182px);
        height: 80px;
        left: calc(100% - 150px);
        position: absolute;
        width: 80px;
    }
    .location__column{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 35%;
        .location__title{
            color: var(--pantone-3145-c);
            font-family: var(--roboto-font-family);
            font-size: 1.75rem;
            font-weight: 500;
            margin: 0 auto;
            margin-top: 132px;
            width: 85%;
        }
        .location__title{
            &::before{
                content: "";
                background-color: var(--laranja);
                border-radius: 3px;
                display: inline-block;
                height: 34px;
                margin-right: 18px;
                vertical-align: middle;
                width: 5px;
            }
            &.right{
                width: 94%;
            }
        }
        &.right{
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 2.8rem 0;
        }
    }
}
.location__values{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.375rem;
    height: 100%;
    position: relative;
    img{
        height: 426px;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -45%);
        top: 50%;
        width: auto;
    }    
    &.right{
        width: 100%;
        height: 100%;
        max-height: 380px;
    }
}
.location__values__content{
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    height: 382px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -40%);
    width: 92%;
    a{
        @include transition-ease;
        align-items: center;
        background-color: var(--pantone-7466-c);
        border-radius: 1.875rem;
        color: var(--white);
        display: flex;
        font-family: var(--roboto-font-family);
        font-weight: 500;
        height: 3.75rem;
        justify-content: center;
        margin: 0 auto;
        margin-top: 8px;
        max-width: 13.125rem;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 0;
        &::before{
            @include transition-ease;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 32%;
            height: 55px;
            background-color: var(--laranja);
            border-radius: 50px 50px 0 0;
            transform: translate(-50%, -20%);
            opacity: 0;
        }
        &:hover::before{
            border-radius: 1.875rem;
            height: 3.8rem;
            opacity: 1;
            top: 12px;
            width: 100%;
            z-index: -1;
        }
        img{
            height: auto;
            left: inherit;
            max-width: 40px;
            position: relative;
            transform: inherit;
            top: inherit;
            width: 100%;
        }
    }
}
.location__values__box{
    height: auto;
    width: 41%;
    &:nth-of-type(1) {
        margin-left: 9px;
    }
}
.location__values__box.right{
    @include transition-ease;
    align-items: center;
    background: #FFF;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    height: 49%;
    justify-content: center;
    max-height: 170px;
    max-width: 170px;
    position: relative;
    text-align: center;
    &:hover{
        @include transition-ease;
        transform: scale(1.02);
        
    }
    .location__area__text{
        padding: 0 22px;
        width: 87%;
        margin: 0;
    }
    img{
        height: auto;
        left: inherit;
        position: relative;
        transform: inherit;
        top: inherit;
        width: 33.33px;
    }
}
.location__value__number{
    color: var(--pantone-3145-c);
    justify-content: center;
    font-family: var(--roboto-font-family);
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
}
.location__value__title{
    color: var(--pantone-3145-c);
    font-size: 1.25rem;
    font-family: var(--roboto-font-family);
    font-weight: 700;
    text-align: center;
}
.location__text__area{
    width: 100%;
}
.location__area__text{
    color: var(--grey-secundary);
    font-family: var(--roboto-font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}
.teleinterconsulta article{
    align-items: center;
    display: flex;
    gap:  0 120px;
    justify-content: center;
    width: 100%;
}
.teleinterconsulta__content{
    align-items: center !important;
}
.teleinterconsulta__image{
    position: relative;
    max-width: 388px;
    width: 40%;
    .redound-top{
        @include transition-ease;
        position: absolute;
        height: auto;
        left: calc(100% - 175px);
        top: -53px;
        width: 108px;
        z-index: 1;
    }
    .redound-bottom{
        @include transition-ease;
        bottom: 103px;
        height: auto;
        left: -45px;
        position: absolute;
        width: 88px;
        z-index: -1;
    }
    img{
        @include transition-ease;
        height: 539px;
        width: auto;
    }
    &::after{
        @include transition-ease;
        content: '';
        background-image: url('../images/rendound-preenchido.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 30px;
        bottom: -46px;
        height: 103px;
        width: 104px;
        z-index: 1;
    }
    &::before{
        @include transition-ease;
        content: '';
        background-image: url('../images/meio-rendound.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: -75px;
        bottom: 75px;
        height: 100%;
        width: 113px;
        z-index: 1;
    }
}

.teleinterconsulta__image:hover{
    &::before{
        @include transition-ease;
        transform: translate(2%, 1%);
    }
    &::after{
        @include transition-ease;
        transform: translate(-6%, 6%);
    }
    .redound-top{
        @include transition-ease;
        transform: translate(-6%, -6%);
    }
    .redound-bottom{
        @include transition-ease;
        transform: translate(-6%, -6%);
    }
}

.teleinterconsulta__description{
    width: 44%;
    .teleinterconsulta__title{
        width: 95%;
        &::before{
            height: 94px !important;
            width: 8px !important;
        }
    }
    .teleinterconsulta__text{
        font-size: 1rem !important;
    }
    .teleinterconsulta__btn{
        max-width: 255px;
        margin-top: 20px;
    }
    .teleinterconsulta__btn a {
        background-color: var(--pantone-7466-c);
        img{
            width: 36px;
        }
    }
}
.funciona,
.proadi{
    align-items: center;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    margin-top: -30px;
    padding: 125px 0;
    .funciona__content,
    .proadi__content{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0 10px;
        justify-content: space-between;
        position: relative;
        max-width: 1200px;
        width: 100%;
    }
    .funciona__steps{
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 68%;
    }
    aside{
        display: flex;
        justify-content: flex-end;
        width: 30%;
    }
}
.funciona__content article {
    @include transition-ease;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
    padding: 29px 30px 29px 84px;
    position: relative;
    width: 79.5%;
    &:hover{
        @include transition-ease;
        transform: scale(1.02);
    }
    
    .funciona__steps__step__number{
        align-items: center;
        background-color: var(--pantone-7466-c);
        border-radius: 100%;
        color: var(--white);
        display: flex;
        font-size: 3.5rem;
        font-family: var(--roboto-font-family);
        font-weight: 700;
        justify-content: center;
        left: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        text-align: center;
        top: 50%;
        height: 108px;
        width: 108px;
    }
}
.funciona__content article p,
.funciona__content aside p{
    color: var(--grey-secundary);
    font-size: 1.063rem;
    font-family: var(--roboto-font-family);
    font-weight: 400;
    line-height: 1.625rem;
    & b{
        color: var(--pantone-7466-c);
        font-weight: 500;
    }
}
.funciona__content aside p {
    width: 100%;
}
.funciona__title,
.depoimento__title,
.hospital__title,
.proadi__title{
    align-items: center;
    color: var(--pantone-3145-c);
    display: flex;
    font-family: var(--roboto-font-family);
    font-size: 2.5rem;
    font-weight: 500;
    justify-content: flex-start;
    margin-bottom: 3.125rem;    
    width: 100%;            
    &::before{
        background-color: var(--laranja);
        border-radius: 0.313rem;
        content:'';
        height: 3.188rem;
        margin-right: 0.8rem;
        width: 0.5rem;
    }
}
.hospital__content{
    align-items: center;
    justify-content: flex-start;
    max-width: 894px;
    position: relative;
    &::before{
        background-image: url('../images/firula-hospital-top.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        height: 125px;
        right: -80px;
        position: absolute;
        top: 225px;
        width: 126px;
        z-index: 1;
    }
    &::after{
        background-image: url('../images/firula-hospital-bottom.svg');   
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        height: 156px;
        left: -80px;
        position: absolute;
        bottom: 174px;
        width: 156px;
    }
    .hospital__title{
        width: 60%;  
        margin-bottom: 17px;
        &::before{
            height: 5.875rem;
            margin-right: 0.8rem;
            width: 0.5rem;
        }      
    }
    .hospital__image,
    .hospital__image__bottom{
        margin: 30px 0;
        text-align: center;
        img{
            height: 403px;
            width: auto;
        }
    }
    article{
        width: 100% !important;
    }
}
.hospital__image {
    margin-bottom: 57px !important;
    img{
        width: 363px !important;
        height: auto !important;
    }
}
.proadi__content__items{
    ul{
        padding-left: 30px;
    }
    p, li{
        color: var(--grey-secundary);
        font-size: 1.063rem;
        font-family: var(--roboto-font-family);
        font-weight: 400;
        line-height: 1.625rem;
        & b{
            color: var(--pantone-7466-c);
            font-weight: 500;
        }
    }
}
.proadi__title{
    &::before{
        height: 5.875rem;
        margin-right: 0.8rem;
        width: 0.5rem;
    }      
}
.proadi__content__items{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.proadi article{
    width: 60%;
}
.proadi__image{
    width: 35%;
    img{
        height: 308px;
        width: 308px;
    }
}
#depoimento{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}
.depoimento__content{
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: -58px;
    padding: 59px;
    position: relative;
    z-index: 1;
    &::after{
        content: '';
        background-image: url('../images/firula-depoimento.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 201px;
        position: absolute;
        right: 140px;
        top: -90px;
        width: 104px;
        z-index: 2;
    }
}
.owl-carousel .owl-item .item{
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--depoimento);
    @include transition-medium;
    transform: scale(0.9);
}
.owl-theme .owl-nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 50%;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.owl-carousel .owl-nav button.owl-prev{
    margin-left: 0;
}
.owl-carousel .owl-nav button.owl-next{
    margin-right: 18px;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    @include transition-ease;
    color: var(--white) !important;
    font-size: 2rem !important;
    font-family: var(--roboto-font-family) !important;
    background-color: var(--laranja) !important;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    &:hover{
        @include transition-ease;
        transform: scale(1.2);
    }
    span{
        margin-top: -5px;
    }
}
.owl-carousel .owl-item.active.center .item{
    @include transition-medium;
    transform: scale(1.2);
    padding: 25px 0; 
}
.depoimento.owl-carousel .owl-stage{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    gap: 0 20px;
    height: 460px;
}
.owl-carousel .owl-item.active.center .item__description{
    height: auto;
    margin: 0 auto;
    max-width: 292px;
    width: 100%;
    padding: 0;
    &::after{
        content: '';
        bottom: -9px;
        right: -9px;
    }
    &::before{
        content: '';
        left: -13px;
        top: -9px;
        height: 50px;
        width: 50px;
    }
    p{
        width: 100% !important;
        padding: 0 !important;
    }
    span{
        width: 100%;
    }
    .item__title{
        width: 100%;
    }
}
.item__description {
    padding: 20px 20px 35px 20px;
    span{
        color: var(--header);
        display: block;
        font-weight: 400;
        font-family: var(--roboto-font-family);
        font-size: 0.875rem;
        margin: 0 auto;
        width: 90%;
    }
    .item__title{
        color: var(--pantone-3145-c);
        font-family: var(--roboto-font-family);
        font-weight: 700;
        font-size: 1.063rem;
        line-height: 1.875rem;
        margin: 0 auto;
        width: 90%;
    }
    &::after{
        content: '';
        background-image: url('../images/aspas-right.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 38px;
        width: 38px;
        position: absolute;
        bottom: -9px;
        right: -9px;
        z-index: 33333333;
    }
    &::before{
        content: '';
        background-image: url('../images/aspas-left.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        position: absolute;
        top: -12px;
        left: -9px;
        z-index: 33333333;
    }
    p{
        color: var(--grey-secundary);
        font-size: 1.063rem;
        font-family: var(--roboto-font-family);
        font-weight: 400;
        line-height: 1.438rem;
        margin: 0 auto;
        position: relative;
        padding: 15px 0;
        width: 90%;
    }
    
}
.depoimento__title{
    margin: 0 !important;
}
.footer{
    background-color: var(--pantone-3145-c);
    border-top: 8px solid var(--pantone-7466-c);
    height: 172px;
    width: 100%;
    .footer__logos{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px 0;
    }
    .footer__logos__items{
        align-items: center;
        background-color: var(--white);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        gap: 0 34.79px;
        justify-content: space-between;
        max-width: 1100px;
        margin-top: -50px;
        padding: 20px;
        position: relative;
        z-index: 1;
        li{
            @include transition-ease;
            list-style-type: none;
            img{
                width: 100%;
            }
            &:hover{
                @include transition-ease;
                transform: scale(1.1);
            }
        }
    }
}
.footer__contact{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 100%;
}
.footer__contact__items{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.footer__contact__items__left{
    width: 60%;
    color: var(--white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 20px;

    li{
        
        list-style-type: none;
        a{
            align-items: center;
            display: flex;
            font-size: 1rem;
            font-family: var(--roboto-font-family);
            color: var(--white);
            font-weight: 400;
            gap: 0 10px;
            justify-content: center;
        }
        b{
            font-weight: bold;
        }
    }
}
.footer__contact__title{
    color: var(--white);
    font-size: 1.063rem;
    font-weight: bold;
    font-family: var(--roboto-font-family);
    margin-bottom: 10px;
    width: 100%;
}
.footer__contact__items__right{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 40%;
    li{
        list-style-type: none;
        &:nth-child(-n+3){
            border-right: 1px solid var(--white);
            margin-right: 24px;
            padding-right: 24px;
        }
    }
}
.insta, .linkedin{
    width: 28px;
}