// Estilos para dispositivos de tela pequena
@media screen and (max-width: 415px) {
    .location__values__box{
        width: 50%;
    }
}
@media screen and (max-width: 476px) {    
    .especialidades .mdl-box.mural-de-comunicacao .mdl-box__right {
        .mdl-box__text{
            margin-bottom: 15px;
        }
        .mdl-box__title{
            font-size: 1.063rem;
        }
    }
    .especialidades .mdl-box .mdl-box__btn{
        margin: 0;
    }
    .owl-carousel .owl-item.active.center .item__description::before{
        left: -17px !important;
        height: 45px !important;
        width: 45px !important;
    }
    .item__description p{
        font-size: 0.938rem !important;
    }
    .depoimento.owl-carousel .owl-stage{
        height: 400px !important;
        max-height: 400px !important;
    }
    .funciona .funciona__content {

        .funciona__steps__step{
            padding: 84px 0px 29px 0px;
            width: 100%;
        }
        article p{
            width: 90%;
        }
    }
    .location__values img{
        height: 370px;
        transform: translate(-50%, -55%);
    }
    .telenordeste__content__event__list p{
        width: calc(100% - 6rem) !important;
    }
    .teleinterconsulta .teleinterconsulta__description .teleinterconsulta__title{
        &::before{
            height: 30px !important;
        }
    }
    .proadi .proadi__content .proadi__title{
        &::before{
            height: 100px !important;
            width: 18px !important;
        }
    }
    .telenordeste__title,
    .mural__de__comunicacao__title,
    .savs__gravadas__title,
    .material .material__content .title,
    .box__document__title,
    .depoimento__content .depoimento__title,
    .proadi__content .proadi__title,
    .funciona__content .funciona__title,
    .hospital__content .hospital__title,
    .teleinterconsulta .teleinterconsulta__description .teleinterconsulta__title,
    .telenordeste__event__title,
    .location__title,
    .location__title.right{
        font-size: 1.625rem !important;
        &::before{
            width: 8px !important;
            border-radius: .313rem !important;
        }
    }
    .telenordeste__content .telenordeste__btn.agenda{
        margin: 0 auto !important;
        margin-top: 30px !important;
    }
    .location__values__box.right .location__area__text{
        line-height: 19px;
    }
    .carrossel-mobile.owl-carousel .location__values__box.right{
        max-height: 165px !important;
        max-width: 165px !important;
    }
    .teleinterconsulta .teleinterconsulta__content{
        padding: 80px 0;
    }
    .location__values__box{
        margin: 0;
    }
    .location{
        .location__content{
            max-width: 95% !important;
            .location__column.right{
                padding-bottom: 35px;
            }
        }
    }

    .location__content{
        &::before{
            height: 45px;
            width: 46px;
            top: 190px !important;
            left: 40px !important;
        }
        &::after{
            bottom: 29%;
            height: 50px;
            left: 97%;
            position: absolute;
            width: 50px;
        }
    }
    .mural-de-comunicacao-interna__content {
        aside{
            margin-right: 0 !important;
        }
    }
    .mdl-box__image{
        width: 100%;
        text-align: center;
    }
    .mural__de__comunicacao__aside__content{
        width: 95%;
        margin: 0 auto;
        margin-right: 0;
        .mdl-box.mural-de-comunicacao{
            max-width: 95%;
            margin: 0;
        }
    }
    .carrossel-relacionados.owl-carousel.owl-drag .owl-item{
        margin-right: 0 !important;
    }
    .mdl-box__description{
        width: 100% !important;
        padding: 0 !important;
    }
    .mdl-box__right{
        width: 90% !important;
        margin: 0 auto;
    }
    .mdl-box__btn{
        margin: 25px;
    }
    .teleinterconsulta__image .redound-bottom{
        left: -30px;
    }
    .teleinterconsulta__image img,
    .teleinterconsulta__image{
        max-width: 280px !important;
    }
    .footer__contact__items__right li:nth-child(-n+3){
        margin-right: 16px;
        padding-right: 16px;
    }
    .footer__contact__items__right{
        li{
            img{
                width: 90px;
            }
            .insta, .linkedin {
                width: 24px;
            }
        }
    }
    .especialidades .mdl-box .mdl-box__content{
        width: 100%;
    }
    .footer .footer__contact .footer__contact__title{
        margin-top: 35px !important;
    }
    .footer .footer__contact{
        width: 100% !important;
        max-width: 95% !important;
    }
    .tutorial__list{
        width: 100%;
        .tutorial__item{
            max-width: inherit;
        }
    }
    .tutorial{
        .tutorial__title.right{
            &::before{
                height: 3.988rem;
            }
        }
        .tutorial__content__right{
            padding-top: 50px;
        }
    }
    .btn__tutorial{
        width: 100%;
        max-width: 100%;
    }
    .especialidades .mdl-box{
        max-width: inherit !important;
        width: 95% !important;
    }
    .especialidades__categories{
        .especialidades__categories__list{
            width: 100%;
        }
    }
    .especialidades__text{
        p{
            width: 100%;
        }
    }
    .hospital__content::before{
        display: none;
    }
    .rolagem__top{
        display: block;
        height: 48px;
        width: 48px;
        right: 20px;
        top: calc(100% - 120px);
    }
    .teleinterconsulta__image{
        max-width: 280px;
        img{
            max-width: 280px;
        }
    }
    .hospital__content .hospital__image__bottom img{
        height: 176px !important;
    }
    .location__values__content{
        height: 530px !important;
    }
   .location .location__content .location__column .location__title.right{
        margin-top: 350px !important;
    }
    .location__value__number{
        font-size: 4rem;
    }
}
@media screen and (max-width: 525px) {
    .content-body{
        justify-content: center;
    }
    .events-list__title{
        font-size: 1.25rem !important;
    }
    .sidebar.aberto .logo {
        margin-top: 15px;
        margin-left: 25px;
    }
    .closeSidebar{
        margin: 0;
    }
    .header__content{
        max-width: 90%;
    }
    .material .material__content .box__document .box__document__content{
        width: 90% !important;
        padding: 20px;
    }
    .contato__wpp__content{
        width: 95%;
    }
    .especialidades .mdl-box.mural-de-comunicacao{
        width: 100%;
        max-width: 95%;
        .mdl-box__content{
            width: 100%;
        }
        .mdl-box__image{
            width: 100%;
        }
        .mdl-box__right{
            width: 90%;
            margin: 20px 20px 0 20px;
        }
        .mdl-box__description{
            width: 100%;
            padding: 0;
        }
        .mdl-box__btn{
            margin-left: 20px;
            margin-bottom: 20px
        }
    } 
}

@media screen and (max-width: 680px) {
    .galeria__content .galeria__list .galeria__item{
        width: 100%;
        max-width: 100%;
    }
    .slide .splide__slide .splide__description .splide__title{
        font-size: 1.75rem !important;
        line-height: 32px !important;
    }
    .slide .slide-fitula-1{
        max-width: 85px;
        max-height: 85px;
        top: 230px;
    }
    .slide .slide-fitula-2{
        max-width: 85px;
        top: -18px;
    }
    .slide .slide-fitula-3{
        max-width: 85px;
        max-height: 85px;
        left: calc(50% - 64px);
        bottom: 200px;
    }
    .telenordeste{
        margin-top: -75px;
    }
    .slide{
        height: 280px;
    }
    .contato__wpp__btn.contato__wpp__link{
        width: 100%;
        margin: 0;
    }
    .contato__wpp{
        margin-top: 0;
        height: 100%;
        padding: 50px 0;
    }
    .contato__item{
        width: 100% !important;
        .contato__container{
            width: 100%;
        }
    }
    .google__form__response{
        iframe{
            width: 100%;
            height: 700px;
        }
    }
    .galeria.evento{
        .galeria__content .galeria__list .galeria__item{
            max-width: 100%;
            .galeria__image{
                width: 100%;
            }
        }
    }
    .savs{
        .row{
            flex-direction: column;
        }
        .teleinterconsulta__btn.proxima-sav{
            width: 100%;
            max-width: 100%;
        }
    } 

    .teleinterconsulta__content.savs .teleinterconsulta__image
    {
        .redound-bottom{
            right: -39px;
        }
        img{
            height: auto;
        }
    } 
    .savs__gravadas__list{

        .savs__gravadas__item{
            width: 100%;
            max-width: 100%!important;
        }
    } 
    .especialidades .mdl-box{
        max-width: inherit;
    }
    .proadi__image{
        width: 95%;
        img{
            height: 260px;
            width: 260px;
            margin: 0 auto;
            display: table;
        }
    }
    .hospital__content {        
        .hospital__image img {
            width: 250px !important;
            height: auto !important;
        }
       
    }
    .funciona__title{
        margin-bottom: 0;
    }
    .funciona__steps{
        align-items: center !important;
        margin-top: 35px;
    }
    .funciona__steps__mobile,
    .material-mobile{        
        .owl-dots{
            text-align: center;
            margin-top: 10px;
            width: 100%;
        }
        &.owl-drag .owl-item{
            margin-right: 20px;
        }
        button.owl-dot{
            background-color: var(--laranja-secundary) !important;
            border-radius: 100%;
            margin: 0 5px;
            height: 15px;
            width: 15px;

            &.active{
                background-color: var(--laranja) !important;
            }
        } 
    }
    .funciona__content .funciona__steps__step{
        flex-direction: column;
        padding: 84px 29px 29px 29px;
        width: 90%;   
        margin: 70px 0 0 0;   
        &:hover{
            transform: scale(1);
        }  
        .funciona__steps__step__number{
            top: -50px;
            left: 50%;
            transform: translate(-48%, 0px)
        }
    }
    .funciona aside{
        margin-top: 35px;
    }
    .carrossel-mobile.owl-carousel{
        width: 95%;
        .owl-dots{
            text-align: center;
            margin-top: 15px;
        }
        &.owl-drag .owl-item{
            margin-right: 20px !important;
        }
        button.owl-dot{
            background-color: var(--laranja-secundary);
            border-radius: 100%;
            margin: 0 5px;
            height: 15px;
            width: 15px;

            &.active{
                background-color: var(--laranja);
            }
        } 
        .location__values__box.right{
            margin: 0px;
            max-height: 175px;
            max-width: 175px;
        }
    }
    .carrossel-mobile.owl-carousel .owl-item img {
        height: 40px !important;
    }
    .telenordeste__btn, .teleinterconsulta__btn,
    .teleinterconsulta__description .teleinterconsulta__btn, 
    .location__values__content a {
        max-width: 100%;
        width: 100%;
        &.agenda{
            width: 100%;
            max-width: 100%;
        }
    }
    .telenordeste__title,
    .hospital__title,
    .depoimento__title,
    .proadi__title,
    .teleinterconsulta__description .teleinterconsulta__title,
    .funciona__title{
        font-size: 1.75rem !important;
        &::before{
            height: 2.188rem !important;
        }
    }
    .proadi__title::before{
        height: 5.188rem !important;
    }
    .hospital__content{
        &::before{
            top: 100px;
            height: 60px;
            width: 60px;
        }
        &::after{
            display: none;
        }
    }
    .hospital__title::before{
        height: 3.188rem !important;
    }
    .owl-carousel .owl-item.active.center .item__description{
        max-width: 80%;
    }
    .depoimento.owl-carousel .owl-stage{
        gap: 0px 30px;
        height: 350px;
        max-height: 350px;
        padding: 0;
    }
    .depoimento.owl-carousel.owl-drag .owl-item{
        margin: 0 !important;        
    }
    .owl-carousel .owl-item.active.center .item{
        margin: 0 auto;
        transform: scale(1);
        width: 90%;
    }
    .footer__contact__items__left{
        gap: 25px 0;
    }
    .linha{
        display: none;
    }
    .depoimento__content{
        margin-top: 0;
        max-width: 90%;
        padding: 30px 0;
    }
    .teleinterconsulta__image{
        &::after{
            bottom: -35px;
            height: 80px;
            width: 80px;
        }
        &::before{
            right: -58px;
            height: 100%;
            width: 90px;
        }
    }
    .depoimento__content::after{
        display: none;
    }
    .teleinterconsulta__image {
        max-width: 320px;
        width: 100%;
        .redound-top{
            top: -37px;
            width: 76px;
        }
        img{
            width: 100%;
            height: auto;
            max-width: 320px;
        }
    }
    .telenordeste__content__event{
        width: 90% !important;
        margin: 0 auto;
    }
    .footer__contact__items__left,
    .footer__contact__items__right{
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .footer__contact__items__right{
        flex-direction: row;
        justify-content: flex-start;
    }
    .footer{
        height: 100%;
        padding: 0;
        background-color: inherit;
        border-top: inherit;
        position: relative;
        &::before{
            content: '';
            background-color: var(--pantone-3145-c);
            border-top: 8px solid var(--pantone-7466-c);
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 30px 0;
            height: 57%;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
        }
        .footer__logos{
            gap: 0;
        }
        .footer__logos__items{
            align-items: center;
            background-color: inherit;
            border-radius: inherit;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: auto;
            gap: 0 34.79px;
            justify-content: space-between;
            max-width: 95%;
            margin: 0 auto;
            margin-right: 0;
            margin-top: 0px;
            margin-bottom: 35px;
            padding: 20px 0 20px 20px;
            position: relative;
            z-index: 1;
            li{
                height: 100px;
                img{
                    width: 100%;
                    height: 100px;
                }
                &:hover{
                    transform: scale(1);
                }
            }
        }
        .footer__contact__items{
            flex-direction: column;
            gap: 20px 0;
            padding: 20px 0;
        }
        .footer__contact{
            width: 90%;
            position: relative;
            z-index: 1;
            .footer__contact__title{
                text-align: left;
                margin: 10px 0;
            }
        }
    }
    .proadi {
        padding: 30px 0;
        margin: 0;
        .proadi__content{
            max-width: 90%;
            margin: 0 auto;
        } 
        article{
            width: 100%;
        }
    }
    .hospital__content {
        max-width: 90%;
        margin: 0;
        padding: 30px 0;
        border-radius: inherit;
        background: inherit;

        &::before{
            height: 75px;
            width: 75px;
            right: 11px;
        }
        &::after{
            height: 90px;
            width: 88px;
            left: 0;
        }
        .hospital__title{
            width: 100%;
        }
    }
    .funciona{
        padding: 30px 0;
        margin: 0;
        .funciona__content{
            max-width: 90% !important;
        }
        aside{
            width: 100%;
        }
    }
    .location{
        margin: 0 !important;
        padding-bottom: 0;
    }
    .location__values__content{
        flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        height: 460px;
    }   
    .location__content{
        max-width: 90% !important;
        &::before{
            top: 90px;
            left: 0;
        }
        .location__column{
            width: 100% !important;
            .location__title {
                width: 100% !important;
                margin: 0;
                &.right{
                    margin-top: 290px !important;
                }
            }
        } 
    }
    .proadi__content__items,
    .teleinterconsulta__content article,
    .funciona__content{
        align-items: center;
        flex-direction: column !important;
        .funciona__steps{
            width: 100%;
        }
        .teleinterconsulta__description{
            width: 100%;
            margin-top: 0;
        }
        .location__column{
            width: 80% !important;
            .location__title{
                width: 100% !important;
                &.right{
                    margin-top: 250px;
                }
            }
            .location__values{
                margin-top: 210px;            
                &.right{
                    justify-content: center;
                    margin-top: 0;
                    max-height: inherit;
                    .location__values__box.right{
                        width: 250px;
                        height: 250px;                        
                    }
                }
            }
            &.right{
                width: 70%;                
            }
        }
    }
    .slide{
        height: calc(100vh - 380px);
    }
    .teleinterconsulta__content{
        margin: 0;
        padding: 30px 0 0 0;
        max-width: 90%;
        border-radius: inherit;
        background: inherit;
        article{
            flex-direction: column-reverse !important;
            gap: 80px 0;
        }
    }
    .telenordeste__content{
        flex-direction: column;
        gap: 30px 0;    
        margin-top: 0;  
        padding: 30px 0 0 0;
        max-width: 100%;   
        .telenordeste__event__title{
            width: 90%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        article{
            width: 90%;
            margin: 0 auto;
        }
        aside{
            width: 100%;
            border-radius: inherit;
            padding: 30px 0;
        }
        .telenordeste__btn.agenda{
            position: relative;
            top: inherit;
            left: inherit;
            transform: inherit;
            width: 90%;
            margin: 0 auto;
            margin-left: 35px;
            margin-top: 30px;
        }
    }
}
@media screen and (max-width: 768px) {
    .events-list__title{
        font-size: 1.625rem;
    }
    .fc-h-event .fc-event-title{
        font-size: 0.75rem;
    }
    .tutorial .tutorial__content .tutorial__content__left{
        margin-bottom: 40px;
    }
    /* Estilo da barra de rolagem horizontal */
    .quadro__geral__table::-webkit-scrollbar {
        width: 5px; 
        height: 5px;
    }

    .quadro__geral__table::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .quadro__geral__table::-webkit-scrollbar-thumb {
        background: var(--pantone-3145-c);
        border-radius: 5px;
    }

    .quadro__geral__table::-webkit-scrollbar-thumb:hover {
        background: var(--pantone-3145-c);
    }

    /* Estilo da barra de rolagem horizontal */
    .quadro__geral__table::-webkit-scrollbar-horizontal {
        height: 5px;
    }

    .quadro__geral__table::-webkit-scrollbar-thumb:horizontal {
        background-color: var(--pantone-3145-c); /* cor do manipulador (thumb) da barra horizontal */
    }
    .quadro__geral__table{
        max-width: 760px;
        height: 180px;
        overflow: auto;
        
    }
    .footer__contact__items__left{
        gap: 25px 0;
    }
    .linha{
        display: none;
    }
    .depoimento__content{
        margin-top: 0;
        max-width: 90%;
        padding: 30px 0;
    }
    .teleinterconsulta__image{
        &::after{
            bottom: -35px;
            height: 80px;
            width: 80px;
        }
        &::before{
            right: -58px;
            height: 100%;
            width: 90px;
        }
    }
    .depoimento__content::after{
        display: none;
    }
    .teleinterconsulta__image {
        max-width: 320px;
        width: 100%;
        .redound-top{
            top: -37px;
            width: 76px;
        }
        img{
            width: 100%;
            height: auto;
            max-width: 320px;
        }
    }
    .telenordeste__content__event{
        width: 90% !important;
        margin: 0 auto;
    }
    .footer__contact__items__left,
    .footer__contact__items__right{
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .footer__contact__items__right{
        flex-direction: row;
        justify-content: flex-start;
    }
    .footer{
        height: 100%;
        padding: 0;
        background-color: inherit;
        border-top: inherit;
        position: relative;
        &::before{
            content: '';
            background-color: var(--pantone-3145-c);
            border-top: 8px solid var(--pantone-7466-c);
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 30px 0;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 85%;
            left: 0;
            z-index: 0;
        }
        .footer__logos{
            gap: 0;
        }
        .footer__logos__items{
            align-items: center;
            background-color: inherit;
            border-radius: inherit;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: auto;
            gap: 0 34.79px;
            justify-content: space-between;
            max-width: 95%;
            margin: 0 auto;
            margin-right: 0;
            margin-top: 0px;
            margin-bottom: 35px;
            padding: 20px 0 20px 20px;
            position: relative;
            z-index: 1;
            li{
                height: 100px;
                img{
                    width: 100%;
                    height: 100px;
                }
                &:hover{
                    transform: scale(1);
                }
            }
        }
        .footer__contact__items{
            flex-direction: column;
            gap: 20px 0;
            padding: 20px 0;
        }
        .footer__contact{
            width: 90%;
            position: relative;
            z-index: 1;
            .footer__contact__title{
                text-align: left;
                margin: 10px 0;
            }
        }
    }
    .proadi {
        padding: 30px 0;
        margin: 0;
        .proadi__content{
            max-width: 90%;
            margin: 0 auto;
        } 
        article{
            width: 100%;
        }
    }
    .hospital__content {
        max-width: 90%;
        margin: 0;
        padding: 30px 0;
        border-radius: inherit;
        background: inherit;
        .hospital__image__bottom img{
            height: 300px;
        }
        &::before{
            height: 75px;
            width: 75px;
            right: 11px;
        }
        &::after{
            height: 90px;
            width: 88px;
            left: 0;
        }
        .hospital__title{
            width: 100%;
        }
    }
    .funciona{
        padding: 30px 0;
        margin: 0;
        .funciona__content{
            max-width: 90% !important;
        }
        aside{
            width: 100%;
        }
    }
    .location__values__content{
        width: 100%;
    }
    .location{
        height: 100%;
    }    
    .location__content,
    .proadi__content__items,
    .teleinterconsulta__content article,
    .funciona__content{
        align-items: center;
        flex-direction: column !important;
        .funciona__steps{
            width: 100%;
        }
        .teleinterconsulta__description{
            width: 100% !important;
            margin-top: 0;
        }
        .location__column{
            width: 60%;
            .location__title{
                width: 50%;
                &.right{
                    margin-top: 250px;
                }
            }
            .location__values{
                margin-top: 210px;
                &.right{
                    justify-content: center;
                    margin-top: 0;
                    max-height: inherit;
                    .location__values__box.right{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            &.right{
                width: 70%;                
            }
        }
    }
    .slide{
        height: calc(100vh - 380px);
    }
    .teleinterconsulta__content{
        margin: 0;
        padding: 30px 0 0 0;
        max-width: 90%;
        border-radius: inherit;
        background: inherit;
        article{
            flex-direction: column-reverse !important;
            gap: 80px 0;
        }
    }
    .telenordeste__content{
        flex-direction: column;
        gap: 30px 0;    
        margin-top: 0;  
        padding: 30px 0 0 0;
        max-width: 100%;   
        .telenordeste__event__title{
            width: 90%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        article{
            width: 90%;
            margin: 0 auto;
        }
        aside{
            width: 100%;
            border-radius: inherit;
            padding: 30px 0;
        }
        .telenordeste__btn.agenda{
            position: relative;
            top: inherit;
            left: inherit;
            transform: inherit;
            width: 90%;
            margin: 0 auto;
            margin-left: 35px;
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 960px){
    .submenu__item:nth-of-type(3){
        margin-bottom: 0;
    }
    .header__item{
        text-align: right;
    }
    .submenu{
        position: relative;
        width: auto;
        left: inherit;
        top: inherit;
        padding: 0;
        padding-top: 15px;
    }
    .modal-open{
        overflow: visible;
    }
    .modal-especialidade .modal-content {
        top: 60px;
        .close{
            top: -70px;
        }
    }
    .modal-content-box{
        width: 95% !important;
        padding: 130px 60px 60px 60px !important;
    }
    .modal-box__content .modal-box__image{
        top: -260px;
        left: 50%;
        transform: translate(-50%, 0px);
    }
    .slide-fitula-1{
        max-width: 85px;
        max-height: 85px;
        top: 130px;
    }
    .slide-fitula-2{
        max-width: 85px;
        top: -89px;
    }
    .slide-fitula-3{
        max-width: 85px;
        max-height: 85px;
    }
    .slide .splide__slide .splide__description{
        max-width: 95%;
        bottom: 38%;
        .splide__title{
            font-size: 2.5rem;
            line-height: 53px;
            width: 100%;
        }
    } 
    .header__nav{
        display: none;
    }
    .hearder__position{
        justify-content: space-between;
    }
    .sandwich{
        display: block;
    } 
    .contato__item{
        width: 49%;
    }
    .mapa__atuacao{
        margin-top: 0;
        .mapa__atuacao__content{
            padding: 50px 0;
            max-width: 95%;
            .image{
                img{
                    max-width: inherit;
                }
            }
        }
    }
    .mapa__atuacao__text{
        position: relative;
        right: inherit;
        bottom: inherit;
        max-width: 95%;
    }
    .desempenho__grafico img{
        max-width: inherit;
    }
    .savs__gravadas__list {

        .savs__gravadas__item{
            height: 260px;
            max-width: 380px;
            min-width: inherit;
        }
    }
    .savs__gravadas__content{
        padding: 0;
        max-width: 95%;
    }
    .savs__gravadas{
        margin: 0;
        max-width: 100%;
    }
    .mural__de__comunicacao__aside__content{
        width: 100%;
        max-width: 100%;
    }
    .mural-de-comunicacao-interna__content {
        max-width: 100% !important;
        article{
            width: 95%;
            margin: 0 auto;
        }
        aside{
            padding-top: 35px;
            width: 100%;
            max-width: 95%;
            margin: 0 auto;
        }
    }
    .mural-de-comunicacao-interna__text,
    .google__form__text,
    .desempenho__text,
    .galeria__text{
        max-width: 100%;
        padding: 0;
        p{
            width: 100%;
        }
    } 
    .material{
        padding: 0 !important;
        margin: 0;
        .box__document__content{
            width: calc(100% - 60px) !important;
        }
    }
    .btn__agendamento{
        width: 100%;
    }
    .agendamento__content,
    .calendar__content,
    .telenordeste__content,
    .google__form__content,
    .contato__content,
    .galeria__content,
    .quadro__geral__content,
    .desempenho__content,
    .teleinterconsulta__content.savs,
    .material:nth-of-type(odd) .material__content,
    .teleinterconsulta__content.material-de-apoio,
    .mural-de-comunicacao-interna__content,
    .material .material__content{
        margin: 0;
        border-radius: inherit;
        padding: 60px 0;
        background: inherit;
        max-width: 95%;
        flex-direction: column;
        .agendamento__text{
            width: 100%;
        }
    }
    .material:nth-of-type(odd) .material__content{
        background-color: #FFF;
    }
    .tutorial{
        margin: 0;
        padding: 50px 0;
        .tutorial__content{
            max-width: 95%;
        }
    }
    .especialidade__banner__interno{
        height: 120px;
    }
    .especialidades__content{
        width: 100%;
        max-width: 95%;
        border-radius: inherit;
        padding: 35px 0;
        background: inherit;
        margin: 0;
    }
    
    .especialidade__banner__interno{
        .especialidade__banner__interno__title{
            text-align: center;
            max-width: 95%;
            margin-top: 0;
            font-size: 1.75rem;
        }
    }
    .especialidades__title,
    .contato__title,
    .google__form__title,
    .quadro__geral__title,
    .mapa__atuacao__title,
    .desempenho__title,
    .material .material__content .title,
    .teleinterconsulta__description .teleinterconsulta__title,
    .mural__de__comunicacao__title,
    .tutorial__title,
    .tutorial__title.right{
        font-size: 1.75rem;
        width: 100%;
        &::before{
            height: 1.988rem !important;
            width: .3rem !important;
        }
    }
}
// Estilos para dispositivos de tela média
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hearder__position{
        justify-content: space-between;
    }
    .sandwich{
        display: block;
    }    
    .footer__contact__items__left,
    .footer__contact__items__right{
        width: 100%;
        justify-content: center;
    }
    .header__nav{
        display: none;
    }
    .footer{
        height: auto;
        padding: 20px 0;
        .footer__contact__items{
            flex-direction: column;
            gap: 20px 0;
        }
        .footer__logos__items{
            max-width: 80%;
        }
        .footer__contact{
            width: 90%;
            .footer__contact__title{
                text-align: center;
            }
        }
    }
    .proadi article{
        width: 100%;
    }
    .hospital__content {
        .hospital__image__bottom img{
            height: 300px;
        }
        &::before{
            height: 75px;
            width: 75px;
            right: 11px;
        }
        &::after{
            height: 90px;
            width: 88px;
            left: 0;
        }
        .hospital__title{
            width: 100%;
        }
    }
    .funciona{
        padding: 80px 0 110px 0;
        aside{
            width: 100%;
        }
    }
    .location__values__content{
        width: 80%;
    }
    .location{
        height: 100%;
    }
    
    .location__content,
    .proadi__content__items,
    .teleinterconsulta__content article,
    .funciona__content{
        align-items: center;
        flex-direction: column !important;
        gap: 0;
        .funciona__steps{
            width: 100%;
        }
        .teleinterconsulta__description{
            width: 100% !important;
            margin-top: 60px;
        }
        .location__column{
            width: 60%;
            .location__title{
                width: 50%;
                &.right{
                    margin-top: 250px;
                }
            }
            .location__values{
                margin-top: 210px;
                &.right{
                    justify-content: center;
                    margin-top: 0;
                    max-height: inherit;
                    .location__values__box.right{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            &.right{
                width: 70%;                
            }
        }
    }
    .slide{
        height: calc(100vh - 280px);
    }
    .telenordeste__content{
        flex-direction: column;
        gap: 30px 0;        
        article{
            width: 100%;
        }
        aside{
            width: calc(100% - 60px);
        }
    }
    
    .tutorial .tutorial__content {
        .tutorial__content__left, 
        .tutorial__content__right{
            max-width: inherit;
        }
        .tutorial__content__left{
            margin-bottom: 40px;
        }
    }
}
@media screen and (min-width: 1025px) {
    .slide .splide__slide .splide__description .splide__title{
        font-size: 3.125rem;
        line-height: 53px;
    }
    .especialidades .especialidades__content,
    .agendamento__content{
        max-width: calc(100% - 350px);
    }
}
@media screen and (max-width: 1072px) {
    .especialidades{
        .mdl-box{
            max-width: 315px;
            width: 49%;
            .mdl-box__right{    
                .mdl-box__title{
                    font-size: 1.25rem;
                }
                .mdl-box__function,
                .mdl-box__crm{
                    font-size: 1.063rem;
                }
                .mdl-box__text{
                    font-size: 0.938rem;
                }
            }
        }
    }
}
@media screen and (max-width: 1303px){
    
    .tutorial .tutorial__content {

        .tutorial__content__left,
        .tutorial__content__right{
            max-width: 100%;
        }
    }
    .tutorial__content__left{
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 360px) and (max-width: 1200px){
    .material .material__content .box__document{
        width: 100%;
        min-width: inherit;
    }
}